<!DOCTYPE html>

{{ $.Scratch.Delete "social-list" }}<!---->
{{ $social := slice "github" }}<!---->
{{ range $social }}<!---->
{{ if isset site.Params . }}<!---->
{{ $.Scratch.Add "social-list" (slice .) }}<!---->
{{ end }}<!---->
{{ end }}<!---->

<html lang="{{ site.LanguageCode }}">
  {{ partial "head.html" . }}

  <body class="not-ready" data-menu="{{ isset site.Menus `main` }}">
    {{ partial "header.html" . }}

    <center> <br> <br> <h1> <font size="6"> Welcome to The Color Site !<br> Where you can find all the hexa color of the Internet ! <br> </font> </h1> </center>
    <img class="special-img-class" src="/image/nyan-cat-nyan.gif" style="width:500px;height:500px;"/>

    {{ partial "footer.html" . }}
  </body>
</html>